.main{
  background: url("./img/download.jpeg");
  color: aliceblue;
  padding-bottom: 8rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position:top;
}
.holder{
  background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.7));
  width: 25rem;
  padding: 1rem 2rem;
  border-radius: 4px;
}
.img{
  height: 300px;
  object-fit: cover;
  object-position: top;
}
.cart-img{
  height: 500px;
  width: 340px;
  object-fit: cover;
  object-position: top;
}